<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code Challenge - ShipServ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/thvsjsp.css" th:href="@{/css/thvsjsp.css}"/>
</head>
<body>

    <h1>Itinerary</h1>

    <table width="600px">
        <tr>
            <th width="150px">BOOKING REF</th>
            <th width="350px">BUYER</th>
            <th width="100px">AMOUNT</th>
        </tr>
    </table>
    <table width="600px" th:each="iti : ${itineraries}">
        <tr align="left">
            <th colspan="2" th:text="${iti.date}"></th>
            <th width="100px" align="right" colspan="2" th:text="${iti.qtyBookings}"></th>
        </tr>
        <tr th:each="booking : ${iti.bookings}">
            <td width="150px" th:text="${booking.bookingRef}"></td>
            <td align="left" width="350px" th:text="${booking.buyer}"></td>
            <td align="right" width="100px" th:text="${booking.amount}"></td>
        </tr>
    </table>

</body>
</html>